# dependencies
node_modules/
.pnpm-store/

# build
.next/
dist/
out/
build/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
